/* edit_delete.css */

body {
  font-family: "Dream Outloud Pro", Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #1d1d36;
}

.box {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #5c5adb;
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 40px;
}

h2 {
  text-align: center;
  font-family: "Cooper Black", Arial, sans-serif;
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

tr.head th {
  background-color: #002349; /* Dark blue for Table Header Background Color */
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th, td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: left;
  color: #ffffff; /* White text color */
}

.edit {
  padding: 10px 20px;
  background-color: #267848; /* Green color for Edit button */
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.edit:hover {
  background-color: #27ae60; /* Darker green color on hover */
}

.edit1 {
  padding: 10px 20px;
  background-color: #9a3e34; /* Red color for Delete button */
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.edit1:hover {
  background-color: #c0392b; /* Darker red color on hover */
}




