/* Body */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9cb7d5;
    overflow: auto;
}

.header img{
    width: 100px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;  
}

.container {
    background-color: #f4eee6;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
  }
  
.content1, .content2 {
    flex: 1;
    padding: 10px;
    line-height: 30px;
    margin-left: 20px;
}

.divider {
    border-left: 1px solid black;
    height: 400px;
}


textarea{
    width: 450px;
    height: 350px;
    margin-top: 20px;
    border: none;
    background-color: transparent;
    font-family: Montserrat, sans-serif;
}

::placeholder{
    color: grey;
    font-style: italic;
}

.button{
    display: flex;
    margin-top: 20px;
    margin-right: 50px;
}

.button button{
    width: 140px;
    color: white;
    background-color: #225584;
    padding: 12px 40px;
    border-radius: 100px;
    text-align: center;
    margin-top: 20px;
    border: none;
    font-size: 16px;
    text-align: center;
}


.button button:hover{
    opacity: 0.6;
}

#container2{
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
    margin-left: 50px;
    justify-content: center;
}



