/* Body */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #225584;
}

/* Header */

#header img{
    width: 150px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

/* Container2 */
#container2{
    width: 1000px;
    height: 350px;
    margin: 0 auto;
    margin-top: 150px;
    margin-left: 450px;
    animation: animation1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Content */
#content{
    color: white;
    text-align: center;
    margin-right: 100px;
}

#content h2{
    font-size: 50px;
}

#content p{
    font-size: 20px;
    line-height: 50px;
}

#content i{
    color: #99CCCC;
}


.arrow{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 200px;
}

.arrow a{
    width: 80px;
    color: #225584;
    background-color: #e1f0ff ;
    padding: 10px 40px;
    border-radius: 100px;
    margin-left: 50px;
    text-align: center;
}


a {
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
}

.arrow a:hover{
    opacity: 0.6;
}

@keyframes animation1 {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(-100px) translateX(-100px);
              transform: translateY(-100px) translateX(-100px);
    }
  }
