* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
    background: linear-gradient(0deg, rgba(29,29,54,1) 0%, rgba(44,42,178,1) 0%, rgba(92,90,219,1) 100%);
}

.image-box {
    text-align: center;
    border: 2px solid gray;
    padding: 20px;
    height: 300px;
    margin: 0 10px;
    margin-left: 60px;
    border-radius: 20px;
    background-color: transparent;
    transition: transform 0.3s ease;
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.image-box:hover {
    transform: scale(1.05);
}

.image-box img {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.image-container {
    margin-top: -100px;
    width: 1300px;
}

.topic{
    animation: fade-left 1s ease-in-out;
    font-weight: 300;
    text-decoration: none;
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Additional styles for h2 */
.setup_title {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}
