body {
    font-family: 'PT Serif', serif;
    background-color: #f7f7f7;
    margin: 0;
}


.container {
    width: 650px;
    margin-top: 20px;
    padding: 20px;
    margin: 0 auto;
}

/* Header */
.button_header{
    padding: 30px;
    padding-left: 50px;
    color: white;
    background-color: #1d1d36;
}
.back-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #5c5adb;
    transition: color 0.3s;
    
}

.back-button svg {
    fill: white;
    width: 24px;
    height: 30px;
    margin-right: 5px;
}

.back-button:hover {
    color: #3f3d56;
    opacity: 0.5;
}


.button {
    display: flex;
    align-items: center;
}

h2 {
    font-size: 24px;
    height: 30px;
    margin-left: 10px;
    padding-top: 4px;
}


h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #002349;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.payment-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 1.8em;
    color: #002349;
    margin-bottom: 20px;
}

.payment-details strong {
    color: #002349;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

button[type="submit"] {
    background-color: #002349;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #577ea8;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.modal-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}

#confirm-btn {
    background-color: #002349;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#confirm-btn:hover {
    background-color: #577ea8;
}
