body{
    background-color: #1d1d36;
    font-family: 'Belanosima', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.TitleBar{
    background-color: #004085;
    width: 90%;
    margin: 50px 0 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 90px;
    border-radius: 15px;
}

.TitleBar h1{
    color: white;
    font-size: 50px;
    text-decoration: underline;
    margin: 15px 50px;
    float: left;
    display: inline;
}

.TimetableList{
    color: white;
    width: 90%;
    height: 600px;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: auto;
}

.TimetableList::-webkit-scrollbar{
    width: 6px;
    height: 10px;
}

.TimetableList::-webkit-scrollbar-thumb{
    border: 2px;
    background-color: white;
    border-radius: 10px;
}

.TimetableList table,th,td{
    border-collapse: collapse;
    padding: auto;
}

.TimetableList table{
    width: 100%;
    padding: 0;
    margin: 0;
    table-layout: fixed;
}

.TimetableList th{
    font-size: 25px;
}

.TimetableList td{
    font-size: 22px;
}

.TimetableList th{
    position: sticky;
    background-color: #004085;
}

.TimetableList td{
    text-align: center;
    background-color: #5c5adb;
}

.TimetableList .otp_button{
    color: white;
    font-size: 15x;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #4090db;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.TimetableList .delete_button{
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #5ee043;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.TimetableList .otp_button:hover{
    background-color: #3576b3;
}

.TimetableList .delete_button:hover{
    background-color: #43a330;
}

a{
    text-decoration: none;
}