

.our_title{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.our_title h2{
    color: #1d1d36;
    font-size: 50px;
}

.our_title p{
    width: 500px;
    margin-top: 20px;
    font-size: 18px;
}


/* four grid */

.four_about{
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about1, .about2, .about3, .about4{
    height: 450px;
}

.about1{
    background-image: url(../images/principal.jpg);
    background-size: cover;
    background-position: center;

}

.about2, .about3{
    background-color: #1d1d36;
}

.about2, .about3{
    display: flex;
    align-items: center;
    justify-content: center;
}


.about4{
    background-image:  url(../images/vision.jpg);
    background-size: cover;
    background-position: center;
}

.about_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 100%;
    margin-top: 150px;
}

.about_content h2{
    font-size: 40px;
    color: #5c5adb;
}

.about_content p{
    font-size: 18px;
    color: white;
    width: 600px;
    padding-top: 20px;
    line-height: 25px;
}

.about_content ul{
    /* padding-top: 30px; */
}

.about_content li{
    color: white;
    font-size: 18px;
    padding-top: 10px;
}


/* video */
.video{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video h2{
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
}

.video iframe{
    padding-top: 50px;
}