/* scale in bottom animation*/
.animation_bottom{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100px);
    filter: blur(5px);
}

.show1 {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.slide-in {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100px);
    filter: blur(5px);
}

.show2 {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    animation: scale-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-bottom {
    0% {
        transform: scale(0);
        transform-origin: 50% 100%;
        opacity: 1;
    }
    100% {
        transform: scale(1);
        transform-origin: 50% 100%;
        opacity: 1;
    }
}

/* fade animation */
.animation_fade {
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 1.5s ease; /* Smooth transition */
}

/* Animation for fading in the element when it's in view */
.show-fade {
    opacity: 1; /* Fully visible element */
}



.academic_intro{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.academic_intro h2{
    font-size: 70px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.academic_intro p{
    width: 700px;
    line-height: 30px;
    font-size: 18px;
}

/* academic grid */
.background_color{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 200px);
    height: 700px;
    background-color: #5c5adb;
    margin-left: -100px;
    z-index: -1;
}


.academic{
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: fit-content;
    padding-top: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.academic_grid{
    display: flex;
    flex-direction: column;
    padding:50px;
    line-height: 25px;
    position: relative;
}


.academic_grid a.course_button {
    /* Add the following properties */
    position: absolute;
    bottom: 70px;
}

#first_button{
    background-color: #5c5adb;
    color: white;
    border: none;
    transition-duration: 0.4s;  /*to determine the speed of the "hover" effect:*/
    cursor: pointer;
    border-radius: 1px;
    width: 150px;
    height: 40px;
}

#first_button:hover{
    background-color: transparent;
    color: white;
    outline: 2px solid white;
}

#second_button{
    background-color: #5c5adb;
    color: white;
    border: none;
    transition-duration: 0.4s;  /*to determine the speed of the "hover" effect:*/
    cursor: pointer;
    border-radius: 1px;
    width: 150px;
    height: 40px;
}

#second_button:hover{
    background-color: transparent;
    color: #1d1d36;
    outline: 2px solid #1d1d36;
}


.image_first{
    height: 500px;
    background-color: #1d1d36;
    color: white;
}

.image_first p{
    padding-top: 20px;
}


.details_first{
    height: 500px;
    background-color: white;
}

.details_first p{
    padding-top: 20px;
}

.academic_img{
    background-size: cover;
    background-position: center;
}


