/* Reset default margins and paddings */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color */
body {
    font-family: Arial, sans-serif;
    background-color: #1d1d36;
    color: white;
}

/* Header */
.button_header {
    padding: 30px;
    padding-left: 50px;
    color: white;
    background-color: #5c5adb;
}

.back-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #5c5adb;
    transition: color 0.3s;
}

.back-button svg {
    fill: white;
    width: 24px;
    height: 30px;
    margin-right: 5px;
}

.back-button:hover {
    color: #3f3d56;
    opacity: 0.5;
}

.button {
    display: flex;
    align-items: center;
}

h2 {
    font-size: 24px;
    height: 30px;
    margin-left: 10px;
    padding-top: 4px;
}


.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container */
.appointment_set {
    width: 35%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #5c5adb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.header{
    padding-bottom: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.options{
    display: flex;
    justify-content: center;
}



/* Buttons */
.options button {
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}



#detailsButton:hover{
    transition-duration: 0.2s;
    opacity: 1;
}

.options button.selected {
    background-color: #1d1d36;
    color: #fff;
}

.options button:not(.selected) {
    opacity: 0.7;
}


/* Form */
#appointment-form{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}

#appointment-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#appointment-form input[type="date"],
#appointment-form input[type="time"],
#appointment-form select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#appointment-form select {
    width: 85%;
}


#appointment-form button[type="submit"] {
    background-color: #1d1d36;
    color: #fff;
    border: none;
    padding: 11px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 85%;
}

#appointment-form button[type="submit"]:hover{
    transition-duration: 0.2s;
    opacity: 0.7;
}


.appointment_request{
    width: 90%;
    height: fit-content;
    padding: 30px;
    margin-top: 40px;
    background-color: #5c5adb;
    border-radius: 10px;
}


/* Appointments table */
.appointment_request table {
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 18px;
    background-color: #1d1d36;
    width: 100%;
}

.appointment_request th, .appointment_request td {
    padding: 12px 15px;
    text-align: left;
    padding: 20px;
    border: none;
}

.appointment_request th {
    border-bottom: 5px solid #5c5adb;
    font-weight: bold;
}



.appointment_request tr:hover {
    background-color: #cfdde9;
    color: black;
}



/* Button Styles */
.approve-btn, .reject-btn {
    padding: 8px 12px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.approve-btn {
    width: 80px;
    background-color: #4CAF50;
    color: white;
}

.reject-btn {
    width: 80px;
    background-color: #f44336;
    color: white;
}

.approve-btn:hover, .reject-btn:hover {
    background-color: white;
    color: #4CAF50; 
}

.reason-text{
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.submit-reason-btn{
    background-color: #f44336;
    color: white;
    padding: 8px 12px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-reason-btn:hover{
    opacity: 0.7;
}

/* Details section */
.details-section {
    margin-top: 20px;
    width: 100%;
}

.slot {
    text-align: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #1d1d36; 
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

.slot:hover {
    opacity: 0.7;
    color: black;
}

.tooltip {
    position: relative;
}
  
.tooltiptext {
    visibility: hidden;
    width: 200px;  /* Adjust width as needed */
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    
    /* Positioning and Styling for tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;  /* Half of the width */
    /* Opacity and Transition for Fade Effect */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
.slot:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}




/* Media query for responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .options {
        margin-bottom: 20px;
    }

    .options button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
}

.modal-content {
    font-size: 18px;
    background-color: #5c5adb;
    color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.appointment-details,
.appointment-datetime {
    margin-bottom: 20px;
}

.modal-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333; /* Choose an appropriate color */
}


.appointment-details p,
.appointment-datetime p {
    margin: 5px 0;
    padding: 5px;
}

.appointment-datetime hr {
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

/* Center modal on smaller screens */
@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
}
