.articles_container{
    height: fit-content;
}

.articles_title h2{
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.articles_content{
    padding-bottom: 50px;
    background-color: #1d1d36;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles{
    background-color: green;
    margin-top: 80px;
    height: 380px;
    width: 70%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 45% 55%;
    border: none;
}

.articles_image img{
    width: 100%;
    height: 100%;
}

.articles_details{
    background-color: white;
    padding: 50px;
}


.details_header a{
    text-decoration: none;
    color: #1d1d36;
}

.details_header a:hover{
    color: #5c5adb;
    transition-duration: 0.1s;
}

.details_header h2{
    padding-top: 20px;
    padding-bottom: 20px;
}

