.page-container {
    position: relative;
    margin-bottom: 100px;
}


h1{
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body{
    background-color: #5c5adb;
    color: white;
}


table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    padding: 30px;
}

th {
    font-weight: bold;
    position: sticky; /* Set the position to sticky */
    top: 0; /* Stick to the top */
    z-index: 1; /* Ensure the header appears above other content */
    background-color: #1d1d36;
}

/* Button Styles */
.edit-btn, .delete-btn {
    padding: 8px 12px;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.edit-btn {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 10px;
}

.delete-btn {
    width: 100px;
    background-color: #f44336;
    color: white;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: white;
    color: #4CAF50; /* Change to desired color */
}

/* Image Styles */
.zoom-image img {
    max-width: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.zoom-image img:hover {
    transform: scale(1.1);
}

tr:not(:first-child):nth-child(even):hover,
tr:not(:first-child):nth-child(odd):hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

tr:nth-child(even) {
    background-color: #1d1d367a;
}


tr:nth-child(odd) {
    background-color: #1d1d36;
}


.add-course-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 75px;

}

.add-course-btn:hover {
    background-color: white;
    color: #3498db;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* Higher z-index value to place the modal above other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #5c5adb;
    margin: 8% auto;
    padding: 20px;
    width: 60%;
    position: relative;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 50px;         
    font-weight: bold;
    cursor: pointer;
    margin-top: -20px;
    margin-right: 10px;
}

.close-btn:hover {
    color: #1d1d36;            /* Darker color on hover for better feedback */
}


.close-btn:hover, .close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal-content form {
    width: 70%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #1d1d36;
    font-size: 20px;
    margin-bottom: 50px;
}

/* Style form labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style form inputs and textarea */
input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Belanosima', sans-serif;
}

select{
    width: 102%;
}

select[disabled] {
    color: red;
    background-color: red;
}


input[type="submit"] {
    background-color: #5c5adb;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    transition-duration: 0.3s;
    opacity: 0.6;
    padding-left:50px;
    padding-right:50px;
  }



/* Style file input and label */
input[type="file"] {
    margin-bottom: 30px;
    font-size: 15px;
}


input[type="file"]:hover {
    opacity: 0.6;
}

.label_image{
    margin-bottom: 20px;
}