/* scale in bottom animation*/
.animation_bottom{
  opacity: 0;
  transition: all 1s;
  transform: translateX(-100px);
  filter: blur(5px);
}

.show1 {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.slide-in {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-100px);
  filter: blur(5px);
}

.show2 {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  animation: scale-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-bottom {
  0% {
      transform: scale(0);
      transform-origin: 50% 100%;
      opacity: 1;
  }
  100% {
      transform: scale(1);
      transform-origin: 50% 100%;
      opacity: 1;
  }
}

/* fade animation */
.animation_fade {
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 1.5s ease; /* Smooth transition */
}

/* Animation for fading in the element when it's in view */
.show-fade {
  opacity: 1; /* Fully visible element */
}


.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.container h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  padding: 20px 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 20px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #1d1d36;
  border-radius: 5px;
  font-size: 20px;
}

/* Style the required indicator */
input:required:invalid,
select:required:invalid,
textarea:required:invalid {
  border-color: #008dc0; /* Use the correct color for the border (e.g., red) */
}

/* Style the file input */
input[type="file"]:required:invalid {
  /* You can style the file input differently if needed */
  border-color: #008dc0; /* Use the correct color for the border (e.g., red) */
}

/* Style the payment option select */
#payment_option:required:invalid {
  /* You can style the select input differently if needed */
  border-color: #008dc0; /* Use the correct color for the border (e.g., red) */
}


textarea {
  resize: vertical;
}



.application_button {
  display: block;
  margin: 40px auto 0;
  margin-bottom: 30px;
  padding: 10px 20px;
  background-color: #1d1d36;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.application_button:hover {
  transition-duration: 0.3s;
  opacity: 0.6;
}

/* Style the file input */
input[type="file"] {
  padding: 5px;
}


input:required::after,
select:required::after,
textarea:required::after {
  content: '*';
  color: red;
  margin-left: 5px;
}


select option:disabled{
  color: red;
}
