body{
    margin: 0;
    padding: 0;
    color: #002349;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}




/* In the CSS, we set the left and right padding of the "container-fluid" class to 0, removing the default padding. This allows the "row1" div to occupy the full width of the screen, inheriting the width of its parent container. */
.container_header{
    padding-left: 0;
    padding-right: 0;
}

.row_header{
    text-align: center;
    align-items: center;
    display: flex;
}


.row_navigation{
    text-align: center;
    align-items: center;
    background-color: #1d1d36;
    margin-bottom: 0;
}



/* the icon */
svg{
    width: 50px;
    height: 30px;
    fill: #002349;
}

a{
    text-decoration: none;
}



.menu ul{
    padding: 10px 200px 10px 200px;
}


.menu button{
    border: none;
    background-color: transparent;    
    color: white;
    font-size: 17px;
    cursor: pointer;
    text-transform: uppercase;
}


.menu ul li{
    position: relative;
}

/* use "after" to apply some design after the element  */
.menu ul li::after{
    content: '';
    height: 3px;
    width: 0;
    right:0;
    background: #939597;
    bottom: -3px;
    position: absolute;
    transition: 0.5s;
}


/* hover effect for the menu */
.menu ul li:hover::after{
    width: 80%;
    left: 10%;
}

.menu button:hover{
    color: #5c5adb;
}


.email, .logo, .social-icons{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email{
    font-size: 20px;
}





.logo img{
    width: 130px;
}



@media (max-width: 767px) {
    .email,
    .social-icons {
        display: none;
    }
}
