*{
    margin: 0;
    padding: 0;
}


.aboutus{
    background-image: linear-gradient(#00234992, #a6a6c100), url("../images/building.jpg");
    height: 80vh;
    background-size: cover;
    margin-top: -20px;
    background-position: center top -120px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}



/* aboutus */
.aboutus_box{
    background-color: #5c5adb;
    color: white;
    height: 300px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    margin-bottom: 50px;
    animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
  


.back, .welcome, .about_button{
    margin-bottom: 10px;
    padding-left: 50px;

}

.back h2{
    font-size: 50px;
}



.welcome p{
    font-size: 25px;
}


.about_button button{
    background-color: #1d1d36;
    color: white;
    border: none;
    padding: 5px  20px;
    transition-duration: 0.4s;  /*to determine the speed of the "hover" effect:*/
    cursor: pointer;
    border-radius: 1px;
}

.about_button button:hover{
    transition-duration: 0.4s;
    background-color: transparent;
    color: white;
    outline: 2px solid white;
    padding: 5px 30px;
}



/* uni life */
.uni_life{
    width: 95%;
    margin: 0 auto;
    height: 1050px;
    color: white;
}


.life_header{
    color: #002349;
    text-align: center;
    padding: 50px;
}

.life_header h2{
    font-size: 50px;
}


.life_header button{
    background-color: #5c5adb;
    color: white;
    border: none;
    padding: 5px  25px;
    transition-duration: 0.4s;  /*to determine the speed of the "hover" effect:*/
    cursor: pointer;
    border-radius: 1px;
}
.life_header h2, .life_header button, .life_header p{
    margin-top: 15px;
}

.life_header p{
    font-size: 18px;
}


.life_header button:hover{
    transition-duration: 0.4s;
    background-color: transparent;
    color: #002349;
    outline: 2px solid #002349;
    padding: 5px 40px;
}


.four_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid1, .grid2, .grid3, .grid4{
    height: 350px;
}

.grid1{
    background-image: url(../images/student.avif);
    background-size: cover;
    background-position: center;

}

.grid2, .grid3{
    background-color: #1d1d36;
}

.grid2, .grid3{
    display: flex;
    align-items: center;
    justify-content: center;
}


.grid4{
    background-image:  url(../images/class.avif);
    background-size: cover;
    background-position: center;
}


/* scale in bottom animation*/
.animation_bottom{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100px);
    filter: blur(5px);
}

.show1 {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.slide-in {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100px);
    filter: blur(5px);
}

.show2 {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    animation: scale-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-bottom {
    0% {
        transform: scale(0);
        transform-origin: 50% 100%;
        opacity: 1;
    }
    100% {
        transform: scale(1);
        transform-origin: 50% 100%;
        opacity: 1;
    }
}

/* fade animation */
.animation_fade {
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 1.5s ease; /* Smooth transition */
}

/* Animation for fading in the element when it's in view */
.show-fade {
    opacity: 1; /* Fully visible element */
}



.grid_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 100%;
}


.grid_content h2{
    font-size: 40px;
    color: #5c5adb;
}

.grid_content p{
    font-size: 18px;
    padding: 20px 50px;
    width: 600px;
    text-align: center;
}

.grid_content button{
    background-color: #5c5adb;
    color: white;
    border: none;
    padding: 5px  25px;
    transition-duration: 0.4s;  /*to determine the speed of the "hover" effect:*/
    cursor: pointer;
    border-radius: 1px;
}

.grid_content button:hover{
    transition-duration: 0.4s;
    background-color: transparent;
    color: white;
    outline: 2px solid white;
    padding: 5px 40px;
}


/* news */
.new{
    height: fit-content;
    position: relative;
}

@media (max-width: 1500px) {
    .four_grid{
        grid-template-columns: auto;
    }
    
    .uni_life{
        height: fit-content;
    }

    .grid1, .grid4{
        display: none;
    }

}

@media (max-width: 775px){
    .grid_content{
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .grid_content p{
       text-align: left;
    }
}


/* news */
.latest_header{
    text-align: center;
}

.latest_header h2{
    font-size: 50px;
}

.news{
    font-size: 30px;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    position: relative;
}

.new1, .new2, .new3{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 320px;
    height: 300px;
    text-align: center;
    padding: 20px;
    position: relative;
}


.new1{
    background-image: url(../images/learning.avif);
    background-position: center;
    background-size: cover;
}

.new2{
    background-image: url(../images/teacher.avif);
    background-position: center;
    background-size: cover;
}

.new3{
    background-image: url(../images/mental.avif);
    background-position: center;
    background-size: cover;
}


.new1 h3, .new2 h3, .new3 h3{
    text-align: left;
    font-size: 20px;
    color: white;
    z-index: 1;
}

.new1 h2, .new2 h2, .new3 h2{
    text-align: left;
    margin-top: auto;
    z-index: 1;
}

/* create a black 'paper' to make the image darker */
.new1::before,
.new2::before,
.new3::before{
    position: absolute;
    content: "";
    background-color: black;
    opacity: 0.2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.news a{
    text-decoration: none;
    color: white;
    transition-duration: 0.3s;
    opacity: 1;
}

.news a:hover{
    opacity: 0.8;
    transform: scale(1.1);  /*zoom in 10%*/
}

.news_button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-top: 0 100px;
}
.news_button button{
    background-color: #1d1d36;
    color: white;
    border: none;
    padding: 10px  50px;
    transition-duration: 0.4s;  /*to determine the speed of the "hover" effect:*/
    cursor: pointer;
    border-radius: 1px;
    font-size: 18px;
}

.news_button button:hover{
        transition-duration: 0.4s;
    background-color: transparent;
    color: white;
    outline: 2px solid white;
    padding: 10px 70px;
}


  
.background_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1200px;
    background-color: #5c5adb;
    margin-top: 250px;
    z-index: -1;
 }
  

/* life & culture */
.life_culture{
    height: fit-content;
}

.culture_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.culture_header h2{
    color: white;
    font-size: 70px;
}

.life_culture .culture_header h3 {
    font-size: 40px;
    color: white;
  }
  

.culture_header span{
    color: black;
}


/* album */
.gallery{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 50px;
    margin-top: 80px;
}

.photo{
    background-color: pink;
    height: 400px;
    width: 400px;
    opacity: 1;
    transition-duration: 0.3s;
}

.photo1{
    background-image: url(../images/canteen.avif);
    background-size: cover;
    background-position: center;
}
.photo2{
    background-image: url(../images/ball.avif);
    background-size: cover;
}
.photo3{
    background-image: url(../images/culture.avif);
    background-size: cover;
    background-position: center right;
}
.photo4{
    background-image: url(../images/event.avif);
    background-size: cover;
    background-position: center;
}
.photo5{
    background-image: url(../images/graduation.avif);
    background-size: cover;
    background-position: center;
}
.photo6{
    background-image: url(../images/library.avif);
    background-size: cover;
    background-position: center;
}
.photo7{
    background-image: url(../images/park.avif);
    background-size: cover;
    background-position: center;
}
.photo8{
    background-image: url(../images/people.avif);
    background-size: cover;
    background-position: center;
}
.photo9{
    background-image: url(../images/picnic.avif);
    background-size: cover;
    background-position: center;
}

.photo:hover{
    opacity: 0.8;
    transform: scale(1.1);  /*zoom in 10%*/
}


/* get in touch */
.get_intouch{
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get_intouch h2{
    color: #1d1d36;
    font-size: 80px;
    text-align: center;
    margin-top: 120px;
}

.get_intouch p{
    text-align: center;
    font-size: 35px;
}

.label{
    width: 800px;
    color: white;
    font-size: 25px;
}

.input_button{
    display: flex;
    height: 50px;
    background-color: #5c5adb;
}

.input_button input{
    background-color: #5c5adb;
    border: 1px black;
    color: white;
    font-size: 30px;
    padding: 20px;
}

input:invalid {
    border: 3px solid #ff4040;
    background-color: #ffb5b5;
}

.input_button button{
    padding-right: 0;
}

.input_button input {
    flex: 1; /*to take up the remaining space in the container.*/
}
  
.input_button button {
    background-color: #1d1d36;
    color: white;
    border: none;
    padding: 5px  60px;
    transition-duration: 0.4s;  /*to determine the speed of the "hover" effect:*/
    cursor: pointer;
    border-radius: 1px;
}


.input_button button:hover{
    background-color: transparent;
    color: white;
    outline: 2px solid white;
}
