.fixed-top{
    background-color: #1d1d36;
    padding: 10px 0;
}


.logo img{
    width: 100px;
    margin-right: 20px;
}

.logo h1{
    font-size: 25px;
    color: white;
}

.fixed-top nav{
    margin-right: -50px;
}

.fixed-top nav ul li{
    font-size: 22px;
    padding-right: 20px;
}

.fixed-top ul li a{
    text-decoration: none;
    color: white;
}

.fixed-top ul li a:hover{
    opacity: 0.7;
}
