body{
    background-color: #1d1d36;
    font-family: 'Belanosima', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 80%;
    margin: 0;
    padding: 0;
    float: right;
}

.TitleBar{
    background-color: #004085;
    width: 80%;
    margin: 50px 100px 0;
    padding: 0;
    height: 90px;
    border-radius: 15px;
}

.TitleBar h1{
    color: white;
    font-size: 50px;
    text-decoration: underline;
    padding: 20px 50px;
}

.ClassDetails_container{
    background-color: #004085;
    color: white;
    font-size: 35px;
    width: 80%;
    height: 500px;
    margin: 30px 100px;
    border-radius: 15px;
}

.OpenTime-and-CloseTime,
.submit-button,
.back_button{
    clear: both; ;
}

.ClassName,
.OpenTime{
    width: 200px;
    margin: 0 100px;
    float: left;
}

.RoomType,
.CloseTime{
    width: 200px;
    margin: 0 250px;
    float: right;
}

.ClassName p,
.RoomType p,
.OpenTime p,
.CloseTime p{
    margin: 30px 0 10px;
}

.ClassName input,
.RoomType input,
.OpenTime input,
.CloseTime input{
    display: block;
	width: 300px;
	padding: 8px;
	border-radius: 8px;
	font-size: 20px;
}

.ClassName input,
.RoomType input{
    margin-bottom: 20px;
}

.submit-button input{
    background-color: white;
    color: #1d1d36;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    margin: 100px 0 0 100px;
    transition: background-color 0.2s;
}

.submit-button input:hover{
    background-color: rgb(187, 187, 187);
}

.back_button{
    position: relative;
    background-color: white;
    color: #1d1d36;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    margin: 0 0 0 100px;
    left: 150px;
    bottom: 47px;
    transition: background-color 0.2s;
}

.back_button:hover{
    background-color: rgb(187, 187, 187);
}

