body {
    font-family: 'PT Serif', serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    width:80%;
    margin: 0;
    padding: 0;
    float: right;
}

.center-container {
    text-align: center;
}

.container {
    max-width: 600px;
    width: 450px;
    margin: 20px 0 0 380px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #002349;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-column {
    flex: 0 0 calc(48%); 
    margin-bottom: 10px;
}


.label {
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}


input[type="submit"] {
    background-color: #002349;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 1.5em;
}

input[type="submit"]:hover {
    background-color: #577ea8;
}