body{
    background-color: #1d1d36 ;
    font-family: 'Belanosima', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.wrapper{
    width: 80%;
    margin: 0;
    padding: 0;
    float: right;
}

.title{
    background-color: #004085;
    width: 90%;
    margin: 50px 50px 0;
    padding: 0;
    height: 90px;
    border-radius: 15px;

}

.title h1{
    position: relative;
    font-size: 50px;
    text-decoration: underline;
    margin: 20px 50px;
    top: 18px;
}

.IntakeContainer{
    width: 90%;
    max-height: 500px;
    margin: 20px 0 0 50px;
    overflow-y: auto;
}

.IntakeContainer::-webkit-scrollbar{
    width: 4px;
    height: 5px;
}

.IntakeContainer::-webkit-scrollbar-thumb{
    border: 2px;
    background-color: white;
    border-radius: 10px;
}

.IntakeContainer a{
    text-decoration: none;
}

.IntakeContainer .IntakeBox{
    background-color:#5c5adb;
    color: white;
    width: 95%;
    margin: 15px 0 0 0;
    border-radius: 15px;
    transition:background-color 0.2s;
}

.IntakeContainer .IntakeBox:hover{
    background-color:#4442a1;
}

.IntakeContainer .IntakeBox h3{
    display: inline-block;
    width: 700px;
    font-size: 30px;
    margin: 0 0 0 40px;
    padding: 0;
}

.IntakeContainer .IntakeBox p{
    display: inline-block;
    font-size: 25px;
    margin-left: 250px;
    padding: 0;
}