body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 1.0;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"]{
  width: 100%;
  padding: 0.5em;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

form select {
  width: 100%;
  padding: 0.5em;
  margin-top: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}



form button {
  background-color: #002349;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  display: block;
  width: 100%;
  margin-top: 2.0em;
  margin-bottom: 0.5em;
  
}

form button:hover {
  background-color: #577ea8;
}

h2 {
  text-align: center;
  margin-top: 30px;
  font-family: Arial, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #002349;
}

form input,
form label {
  margin-top: 10px;

}

h2 {
  margin-top: 30px;
}
