h2 {
    margin: 30px;
    font-family: Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    animation: fadeIn 2s ease-in-out forwards;
  }


.table-wrapper {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Center the table */
    width: 80%; /* Set the desired width of the table */
  }
  
table {
    width: 100%; /* Use 100% width to fill the container */
    margin: 0 auto; /* Center the table within the table-wrapper */
    border-collapse: separate;
    border-spacing: 0;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

table::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #ccc;
  visibility: hidden;
}


table:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}


th, td {
    text-align: center;
    padding: 10px;
    padding: 1.5rem; /* Increase padding for data cells */
    margin: 1.5rem; /* Increase margin for data cells */
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    background-color: #002349;
}

/* Style table header */
table th {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

/* Style table rows */
table tr {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style links */
a {
    color: #5c5adb;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
  }
  
.search-bar form {
    display: flex;
    align-items: center;
  }
  
.search-bar label {
    margin-right: 10px;
  }
  
.search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
.search-bar button {
    margin-left: 15px;
    padding: 5px 10px;
    background-color: #002349;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
.search-bar button:hover {
    background-color: #577ea8;
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
  }

.add-button {
    background-color: #002349;
    font-size: 16px;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    margin-left: 10px;

}

.add-button:hover{
  background-color: #577ea8;
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.search-bar a{
  text-decoration: none;
}

.search-bar .add-button {
    margin-left: 15px;
  }


table tr:hover {
  background-color:#a9b9ca;
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

@media screen and (max-width: 576px) {
  .table-responsive {
    overflow-x: scroll;
  }
}

.action-buttons {
  justify-content: center;
  align-items: center;
}

.action-buttons a {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;  
}

.action-buttons a:last-child {
  margin-right: 0;  
}

.action-buttons a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.action-buttons .edit-icon {
  color: #5c5adb;
}

.action-buttons .delete-icon {
  color: #d893a3;
}
.tooltip-text {
  visibility: hidden;
  width: 70px;  /* Reduced width */
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 10px;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%; 
  left: 50%;
  margin-left: -40px;  /* Adjusted margin for centering based on new width */
  opacity: 0;
  transition: opacity 0.3s;
}

.action-buttons a:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
